---
export const prerender = true;
import Layout from '../../layouts/Layout.astro';
import fetchApi, {retrievePortfolio} from '../../lib/strapi';
import type HeaderType from "../../interfaces/Header";
import type Photographer from "../../interfaces/Photographer";
const header = await fetchApi<HeaderType>({
    endpoint: '/header?populate=*',
    wrappedByKey: "data",
}) as HeaderType;
const photographer = await fetchApi({
    endpoint: '/photographer?populate=*',
    wrappedByKey: "data",
}) as Photographer;
const portfolio = await retrievePortfolio(import.meta.env.PORTFOLIO_ID);
---

<Layout title="Portfolio" header={header} photographer={photographer}>

    <div class="columns-1 md:columns-2 lg:columns-2 gap-10 p-4 space-y-4">
        {portfolio.Galleries.map((gallery) => {
            const ifVertical =
                    <>
                        <a href={`/gallery/${gallery.Slug}`}
                           class="block mb-16 overflow-hidden hover:shadow-xl transition-shadow">
                            <figure class="relative w-full h-auto break-inside-avoid">
                                <div class="w-full"
                                     style={`aspect-ratio: ${gallery.Cover.width} / ${gallery.Cover.height}`}>
                                    <img
                                            src={gallery.Cover.url}
                                            alt={gallery.Cover.alternativeText}
                                            class="w-full h-full object-cover"
                                    />
                                </div>
                                <div class="absolute inset-0 flex items-end p-4 opacity-0 opacity-20 hover:opacity-40 bg-black transition-opacity">
                                    <div class="text-white">
                                        <h2 class="card-title">{gallery.Title}</h2>
                                        <p class="line-clamp-2">{gallery.Description}</p>
                                    </div>
                                </div>
                            </figure>
                        </a>
                    </>;
            const ifHorizontal =
                    <>
                        <a href={`/gallery/${gallery.Slug}`}
                           class="block  mb-16 overflow-hidden hover:shadow-xl transition-shadow">
                            <figure class="relative w-full h-auto break-inside-avoid">
                                <div class="w-full"
                                     style={`aspect-ratio: ${gallery.Cover.width} / ${gallery.Cover.height}`}>
                                    <img
                                            src={gallery.Cover.url}
                                            alt={gallery.Cover.alternativeText}
                                            class="w-full h-full object-cover"
                                    />
                                </div>
                                <div class="absolute inset-0 flex items-end p-4 opacity-0 opacity-20 hover:opacity-40 bg-black transition-opacity">
                                    <div class="text-white">
                                        <h2 class="card-title">{gallery.Title}</h2>
                                        <p class="line-clamp-2">{gallery.Description}</p>
                                    </div>
                                </div>
                            </figure>
                        </a>
                    </>

            const ratio = gallery.Cover.width / gallery.Cover.height;
            return (
                    <>
                        {ratio > 1 ? ifHorizontal : ifVertical}
                    </>
            )

        })}
    </div>
</Layout>