---
import Instagram from "../components/Instagram.astro";
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import {retrieveMain} from "../lib/strapi";
const {site, photographer} = await retrieveMain();
const isCoverSingleImage = photographer.Cover && photographer.Cover.length === 1 && photographer.Cover[0].mime.includes('image');
const isCoverVideo = photographer.Cover && photographer.Cover.length >= 1 && photographer.Cover[0].mime.includes('video');
const isCoverVideoWithPoster = photographer.Cover && photographer.Cover.length > 1 && photographer.Cover[0].mime.includes('video') &&
    photographer.Cover[1].mime.includes('image');
---

<Layout photographer={photographer} site={site}>
    {isCoverSingleImage && (
            <div class="w-full h-[50vh] relative">
                <img
                        src={photographer.Cover[0].url}
                        alt={photographer.Cover[0].alternativeText || `${photographer.Name} ${photographer.Surname}`}
                        class="w-full h-full object-cover"
                />
            </div>
    )}
    {isCoverVideo && (
            <div class="w-full h-[50vh] relative">
                <video
                        src={photographer.Cover[0].url}
                        class="w-full h-full object-cover"
                        autoplay

                        poster={isCoverVideoWithPoster ?
                            photographer.Cover[1].url : photographer.Cover[0].url}
                        loop
                        muted
                />
            </div>
    )}
    {site.ShowInstagram &&
            <div class="flex justify-center w-full max-w-[80%] mx-auto">
                <div class="elfsight-app-9b82b59d-fd48-42d2-ab56-3490ef7aa921" data-elfsight-app-lazy></div>
            </div>}
</Layout>
