---
import About from '../components/About.astro';
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import {retrieveMain} from "../lib/strapi";
const {site, photographer} = await retrieveMain();
const coverImage = site.Home.Cover?.find((cover) => cover?.mime.includes('image'));
const coverVideo = site.Home.Cover?.find((cover) => cover?.mime.includes('video'));
const isCoverVideoWithPoster = coverVideo && coverImage;
---

<Layout site={site} photographer={photographer}>
    <link rel="preconnect" href={coverVideo?.url ? new URL(coverVideo.url).origin : ''}/>
    {!coverVideo && coverImage && (
            <div class="w-full h-[50vh] relative">
                <img
                        src={coverImage.url}
                        alt={coverImage.alternativeText || site.Name}
                        class="w-full h-full object-cover"
                />
            </div>
    )}
    {coverVideo && (
            <div class="w-full lg:h-[50vh] relative bg-base-200">
                {isCoverVideoWithPoster && (
                        <div id="video-poster" class="absolute inset-0 w-full h-full">
                            <img
                                    src={coverImage.url}
                                    alt="Loading video..."
                                    class="w-full h-full object-cover"
                                    loading="eager"
                            />
                            <div class="absolute inset-0 bg-black/30 flex items-center justify-center">
                                <div class="loading loading-spinner loading-lg text-white"></div>
                            </div>
                        </div>
                )}
                <video
                        src={coverVideo.url}
                        class="w-full h-full object-contain lg:object-cover opacity-0"
                        autoplay
                        poster={isCoverVideoWithPoster ? coverImage.url : undefined}
                        loop
                        muted
                        playsinline
                        preload="auto"
                        onplaying="
                            document.getElementById('video-poster')?.classList.add('hidden');
                            this.classList.remove('opacity-0');
                        "
                />
            </div>
    )}
    <div class="flex flex-col justify-center w-full lg:max-w-[80%] max-w-[90%] mx-auto ">
        {site.Home.ShowAboutMe &&
                <About photographer={photographer}/>
        }
        {site.Home.ShowInstagram &&
                <div class="w-full h-auto relative">
                    <div class="elfsight-app-9b82b59d-fd48-42d2-ab56-3490ef7aa921" data-elfsight-app-lazy></div>
                </div>
        }
    </div>
</Layout>
