---
import '../styles/global.css';
import '@ckeditor/ckeditor5-basic-styles/theme/code.css';
import '@ckeditor/ckeditor5-image/dist/index-content.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import type Site from "../interfaces/Site";
import type Photographer from "../interfaces/Photographer";
const {site, photographer, subtitle, title} = Astro.props as {
    site: Site,
    title?: string,
    subtitle?: string,
    photographer: Photographer
}
const pageTitle = site.Name;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content="Bration Portfolio - Built by filippi.dev"/>
    <meta name="description" content=`Portfolio website of photographer ${site.PhotographerName}`/>
    <meta name="keywords" content=`photography, portfolio, ${site.PhotographerName}, ${site.Name}`/>
    <meta name="author" content={site.PhotographerName}/>
    <link rel="stylesheet" href="https://use.typekit.net/nsb5rjc.css"/>
    <title>{pageTitle}</title>
    <script src="https://static.elfsight.com/platform/platform.js" async is:inline/>
    <script async src="//www.instagram.com/embed.js"/>
</head>
<body class="font-sans flex flex-col min-h-screen">
<Header site={site} title={title} subtitle={subtitle} />
<main class="flex-grow">
    <slot/>
</main>
<Footer site={site} photographer={photographer}/>

</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
