---
import Gallery from "../../components/Gallery.astro";
const {gallerySlug} = Astro.params;
export const prerender = false;
import Layout from '../../layouts/Layout.astro';
import {retrieveMain, retrieveGallery} from "../../lib/strapi";
const {site, photographer} = await retrieveMain();
const gallery_ = await retrieveGallery(gallerySlug);
---

<Layout site={site} photographer={photographer}>

    {!gallery_ &&
            <div class="text-center text-2xl font-bold">Gallery not found
                <figure class="relative w-full h-auto break-inside-avoid">
                    <div class="w-full"
                         style={`aspect-ratio: 16 / 9`}>
                        <img
                                src="/assets/gallery_not_found.jpg"
                                alt="Gallery not found"
                                class="w-full h-full object-cover"
                        />
                    </div>
                </figure>
            </div>
    }
    {gallery_ &&
            <Gallery gallery={gallery_} style={gallery_.Style} site={site}/>}
</Layout>