---
import Gallery from "../../components/Gallery.astro";
const {gallerySlug} = Astro.params;
export const prerender = false;
import Layout from '../../layouts/Layout.astro';
import {retrieveMain, retrieveGallery} from "../../lib/strapi";
const {site, photographer} = await retrieveMain();
const gallery_ = await retrieveGallery(gallerySlug);
let title = gallery_?.Title;
let subtitle = undefined;
if (gallery_?.Date) {
    const date = new Date(gallery_.Date);
    const options = {year: 'numeric', month: 'long', day: 'numeric'};
    subtitle = `${date.toLocaleDateString('en-US', options)}`;
}
---

<Layout site={site} photographer={photographer} title={title} subtitle={subtitle}>

    {!gallery_ &&
            <div class="text-center text-2xl font-bold">Gallery not found
                <figure class="relative w-full h-auto break-inside-avoid">
                    <div class="w-full"
                         style={`aspect-ratio: 16 / 9`}>
                        <img
                                src="/assets/gallery_not_found.jpg"
                                alt="Gallery not found"
                                class="w-full h-full object-cover"
                        />
                    </div>
                </figure>
            </div>
    }
    {gallery_ &&
            <Gallery gallery={gallery_} style={gallery_.Style} site={site}/>}
</Layout>